<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
  border: 1px solid black;
}

    </style>
</head>
<body>
{% if user.is_authenticated %}
<h2>Welcome, {{ user }}</h2>  <a href="{% url 'logout'%}">Logout</a> <br/><br/>
<td><a href="{% url 'game:index' %}">Go to Dashboard</a><br/></td>

<h3>Players with percentile equal or greater than 90 acrosss teams</h3>
<table>
    <tr>
        <td style="width:150px">Name</td>
        <td style="width:150px">Team</td>
        <td style="width:150px">Score</td>

        {% for obj in filtered_players %}
    <tr>
        <td>{{obj.name}}</td>
        <td>{{obj.team}}</td>
        <td>{{obj.score}}</td>
    </tr>
    {% endfor %}
    </tr>
</table>

{% endif %}
</body>
</html>